<div class="booyah-box col-12">
	<div class="row align-items-center">
		<div class="col-11 col-lg-5 text-center">
			<h1><%= @course.title %></h1>
		</div>
		<% if current_user && current_user.id == @course.teacher.id %>
			<div class="col-11 text-center col-lg-3">
				<button type="button" class="btn btn-info btn-block randomizer" data-course="<%= @course.id %>" data-toggle="modal" data-target="#exampleModal">
				  Randomly select a student
				</button>
			</div>
			<div class="col-11 text-center col-lg-3">
				<%= link_to 'Add a new student', new_course_enrolled_path(@course), class: 'btn btn-secondary btn-block' %>
			</div>
		<% end %>
	</div>
	
  <br />
  <br />
	<div class="row">
		<% @course.enrolleds.each do |student| %>
			<div class="row student col-11 col-md-5 col-lg-3" id="<%= student.id %>">
				<div class="col-5 align-self-center">
					<%= student.firstname %>&nbsp<%= student.lastname %>
				</div>
				<div class="col-3 align-self-center">
					<h1><%= student.pointsearned %></h1>
				</div>
				<% if current_user && current_user.id == student.course.teacher.id %>
					<div class="col-4 text-center align-self-center">
					<%= link_to "+", teacher_course_enrolled_add_point_path(:enrolled_id => student.id, :teacher_id => student.course.teacher.id, :course_id => student.course.id), method: :patch, class: "btn btn-primary btn-sm btn-points" %>
					<%= link_to "-", teacher_course_enrolled_subtract_point_path(:enrolled_id => student.id, :teacher_id => student.course.teacher.id, :course_id => student.course.id), method: :patch, class: "btn btn-danger btn-sm btn-points" %>
					</div>
				<% end %>
			</div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="random_student"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<script>

	$(function(){

		var button = $(".randomizer");
		var course_id = button.data("course");
		

		button.click(function(){
			$.ajax({
				url: course_id + "/randomly_select_student",
			}).done(function(data){
				var first_name = data[0].firstname;
				var last_name = data[0].lastname;
				var modal = $("#random_student");
				modal.html(first_name + " " + last_name);
			});
		});


	});
	



</script>